<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../assets/css/main.css">
</head>
<body style="background-color: aqua;">

  <nav class="topbar container">
    <div class="topbar-menu" onclick="showElement('.sidebar-left')">
      <i class="fas fa-align-left"></i>
    </div>
    <!-- <div class="log-brand">
      <h1>Dreamroom</h1>
    </div> -->
    <div class="log-brand-mobile">
      <a href=""><h1>Dreamroom</h1></a>
    </div>
    <!-- <div class="navigation">
      <div class="navigation--item">
        <a href="">Home</a>
      </div>
      <div class="navigation--item">
        <a href="">Shop</a>
      </div>
      <div class="navigation--item">
        <a href="">Collections</a>
      </div>
      <div class="navigation--item">
        <a href="">Home</a>
      </div>
      <div class="navigation--item">
        <a href="">Home</a>
      </div>
    </div> -->
    <div>
      <div class="topbar-cart">
        <i class="fas fa-shopping-cart"></i>
        <span class="topbar-cart-count">0</span>
      </div>
    </div>
  </nav>

  <section class="sidebar-left d-none">
    <div class="overlay" onclick="display('.sidebar-left','none')"></div>
    <div class="sidebar-left-menu">
      <div class="sidebar-left-title row">
        <div class="column" style="width: 250px;">
          <a href="">
            <h2>Dreamroom</h2>
          </a>
        </div>
        <div class="column text-right">
          <span class="pointer close" onclick="display('.sidebar-left', 'none')">
            <i class="fas fa-times"></i>
          </span>
        </div>
      </div>
    </div>
  </section>

  <script src="https://kit.fontawesome.com/b20913e551.js" crossorigin="anonymous"></script>
  <script src="../assets/js/main.js"></script>
</body>
</html>