<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../assets/css/main.css">
</head>
<body>

  <nav class="topbar container">
    <div class="log-brand">
      <h1>Dreamroom</h1>
    </div>
    <div>
      <div class="navigation">
        <div class="navigation--item">
          <a href="">Home</a>
        </div>
        <div class="navigation--item">
          <a href="">Shop</a>
        </div>
        <div class="navigation--item">
          <a href="">Collections</a>
        </div>
        <div class="navigation--item">
          <a href="">Home</a>
        </div>
        <div class="navigation--item">
          <a href="">Home</a>
        </div>
      </div>
    </div>
    <div>
      3
    </div>
  </nav>


  <div class="row">
    <div class="column">
      <a href="">
        <img src="../assets/products/chair1.png" alt="">
      </a>
    </div>
    <div class="column">
      <a href="">
        <img src="../assets/products/chair1.png" alt="">
      </a>
    </div>
    <div class="column">
      <a href="">
        <img src="../assets/products/chair1.png" alt="">
      </a>
    </div>
    <div class="column">
      <a href="">
        <img src="../assets/products/chair1.png" alt="">
      </a>
    </div>
  </div>
  
  <script src="https://kit.fontawesome.com/b20913e551.js" crossorigin="anonymous"></script>
  <script src="../assets/js/main.js"></script>
</body>
</html>