:root {
  --font-family: 'Red Hat Display',Helvetica,Arial,sans-serif;
  --medium-font-size: 1em;
  --large-font-size: 2em;
  --column-width-1: calc(100%/1);
  --column-width-2: calc(100%/2);
  --column-width-3: calc(100%/3);
  --column-width-4: calc(100%/4);
  --column-width-5: calc(100%/5);
  --column-width-6: calc(100%/6);
  --column-width-7: calc(100%/7);
  --column-width-8: calc(100%/8);
  --column-width-9: calc(100%/9);
  --column-width-10: calc(100%/10);
  --border-radius-width: 20px;
  --size-1: .6rem;
  --size-2: 1rem;
  --size-3: 2rem;
  --size-4: 4rem;
  --size-5: 5.6rem;
  --shadow-bg: rgb(38, 57, 77) 0px 20px 30px -10px;
  --shadow-btn: rgba(0, 0, 0, 0.19) 0px 10px 20px,rgba(0, 0, 0, 0.23) 0px 6px 6px;
  --shadow-side: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
