<div class="container pb-5">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-3 mb-3 d-flex justify-content-between flex-column">
      <a href="../index.html" class="brand-text">Dreamroom</a>
      <div class="socials mt-4">
        <a href="https://www.facebook.com" target="_blank"><i class="icofont-facebook h5"></i></a>
        <a href="https://www.instagram.com" target="_blank"><i class="icofont-instagram h5"></i></a>
        <a href="https://www.twitter.com" target="_blank"><i class="icofont-twitter h5"></i></a>
        <a href="https://www.youtube.com" target="_blank"><i class="icofont-youtube-play h5"></i></a>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mb-3">
      <h6 class="mt-2">Catalog</h6>
      <ul class="mt-3" id="footerCategories"></ul>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mb-3">
      <h6 class="mt-2">Information</h6>
      <ul class="mt-3">
        <li><a href="../contact.html">Contact Us</a></li>
      </ul>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mb-3">
      <h6 class="mt-2">Contact</h6>
      <div class="d-flex color-grey mt-3">
        <div style="margin-right: 1rem;"><i class="icofont-headphone-alt icofont-1x"></i></div>
        <div>(+62) 823 2544 1718<br>support@dreamroom.com</div>
      </div>
      <h6 class="mt-4">Find Us</h6>
      <div class="d-flex color-grey mt-3">
        <div style="margin-right: 1rem;"><i class="icofont-google-map icofont-1x"></i></div>
        <div>Jl. Gajah Mada No. 8<br>Semarang, ID</div>
      </div>
    </div>
  </div>
</div>
<div style="border-top: 1px solid rgba(255,255,255,0.1);">
  <div class="container">
    <div class="row py-4">
      <div class="col-12 col-md-6 mb-3"><b>&copy; 2020 Dreamroom</b>. All Rights Reserved</div>
      <div class="col-12 col-md-6 text-right">
        <img src="../assets/img/payment_logo.png" alt="Payment logo">
      </div>
    </div>
  </div>
</div>