<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light py-4 bg-light justify-content-between position-static">
    <div class="d-block d-lg-none">
      <a href="javascript:void(0);" class="openSidebar"><i class="icofont-navigation-menu icofont-2x"></i></a>
    </div>
    <a class="navbar-brand" href="../index.html">Dreamroom</a>
    <ul class="navbar-nav mb-2 mb-lg-0 d-none d-lg-flex">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
      </li>
      <li class="nav-item mx-3 onhover">
        <a class="nav-link" aria-current="page" href="../collections.html?category=None&price=None">
          Collections
        </a><div class="collections-dropdown position-absolute shadow-sm p-4 rounded">
          <div class="row justify-content-center">
            <div class="col-2">
              <a href="../collections.html?category=None&price=None">
                <img src="../assets/products/speaker_trending.jpg" style="max-height: 100%;">
                <h5 class="mt-3">Semua</h5>
              </a>
            </div>
            <div class="col-2">
              <a href="../collections.html?category=Kursi&price=None">
                <img src="../assets/products/Clarice_Tall_Wingback.jpg" style="max-height: 100%;">
                <h5 class="mt-3">Kursi</h5>
              </a>
            </div>
            <div class="col-2">
              <a href="../collections.html?category=Meja&price=None">
                <img src="../assets/products/Ravenna_Home_Springdale.jpg" style="max-height: 100%;">
                <h5 class="mt-3">Meja</h5>
              </a>
            </div>
            <div class="col-2">
              <a href="../collections.html?category=Kasur&price=None">
                <img src="../assets/products/Hillsdale_Furniture_Lawler_Bed.jpg" style="max-height: 100%;">
                <h5 class="mt-3">Kasur</h5>
              </a>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="../contact.html">Contact Us</a>
      </li>
    </ul>
    <a href="../cart.html">
      <i class="icofont-cart-alt icofont-2x"></i>
      <span id="cartItemsCount"></span>
    </a>
  </nav>
</div>

<div class="position-fixed sidebar closeSidebar">
  <div class="navigation">
    <ul>
      <li class="mb-4 d-flex justify-content-between">
        <a href="javascript:void(0);" style="font-size: 20px !important;font-weight: 600 !important;">Navigation</a>
        <a href="javascript:void(0);" class="closeSidebar"><b>X</b></a>
      </li>
      <li class="mb-3"><a href="../index.html">Home</a></li>
      <li class="mb-3"><a href="../collections.html?category=None&price=None">Collections</a></li>
      <li class="mb-3"><a href="../contact.html">Contact Us</a></li>
    </ul>
  </div>
</div>